/* Your CSS goes here! */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;

}

#imgBack {
    background-color: rgb(173, 149, 113);
    text-align: center;
    padding: 20px;

}

#projectsTable th, #projectsTable td { 
    border: 2px solid;
    padding: 10px;
}

.navbar {
    background-color: rgb(173, 149, 113);
    color: black;
}

a:hover {
    color: brown;
}

.pageTitle {
    font-variant: small-caps;
}

h1, h2, p {
    padding: 10px;
}